---
import BaseLayout from '../../layouts/BaseLayout.astro';
let allPosts = Astro.fetchContent('./*.md');
allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));



//let sortedPosts = allPosts.slice().sort((a, b) => b.ordinal - a.ordinal)

//console.log(sortedPosts[0].date.toString())
---
<BaseLayout title="My Posts">




Here is where I will try to list posts.

{allPosts.map((post) =>
    <p>{post.title}</p>
 )}


 <div>
{allPosts.slice(0, 3).map((post) => (
  <article>
    <h1>{post.title}</h1>
    <p>{post.url}</p>
    <p>{post.description}</p>
    <p>{new Date(post.date).toISOString().slice(0, 10)}</p>
    <a href={post.url}>Read more</a>
  </article>
))}
</div>

</BaseLayout>