---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components'
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));



//let sortedPosts = allPosts.slice().sort((a, b) => b.ordinal - a.ordinal)

//console.log(sortedPosts[0].date.toString())
---
<BaseLayout title="My Blog">

<Markdown>This is **src/pages/blog.astro** which is generated from markdown files located in **src/pages/posts/** using: 
```js
---
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
 Astro.fetchContent('src/pages/posts/*.md')
 ---
 <div>
  {allPosts.slice(0, 3).map((post) => (
    <article>
      <h1>{post.title}</h1>
      <p>{post.url}</p>
      <p>{post.description}</p>
      <p>{new Date(post.date).toISOString().slice(0, 10)}</p>
      <a href={post.url}>Read more</a>
    </article>
  ))}
</div>
 ```
</Markdown>
 <div>
  {allPosts.slice(0, 3).map((post) => (
    <article>
      <h1>{post.title}</h1>
      <p>{post.url}</p>
      <p>{post.description}</p>
      <p>{new Date(post.date).toISOString().slice(0, 10)}</p>
      <a href={post.url}>Read more</a>
    </article>
  ))}
</div>

</BaseLayout>