---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
const content = await fetch("https://raw.githubusercontent.com/sarah11918/astro-elsa/main/README.md").then((res) => res.text());
---
<BaseLayout title = "Remote Markdown" >

<!-- YES: Nested in <Markdown> WITH some Markdown
  <Markdown>
## test
    <Markdown content={content} />

  </Markdown>
-->


<!-- YES: With any regular old HTML element wrapper
  <div>
    <Markdown content={content} />
  </div>
-->

<!-- NO: directly wrapped by Layout Component
  <Markdown content={content} />
-->

<!-- NO: Directly wrapped by <Markdown> (no other Markdown)
  <Markdown>
    <Markdown content={content} />
  </Markdown>
-->

  <div>
    <Markdown content={content} />
  </div>

</BaseLayout>