---
const {content} = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title = {content.title}>
  <h1>{content.title}</h1>
  <h2>Written by: {content.author}</h2>
  <h4>{content.description}</h4>
  <article><slot /></article>
</BaseLayout>